* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 15px;
    height: 65px;
    background-color: rgb(190, 205, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 8px 6px #808080;
    position: fixed;
}

.navbar .search-bar {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.navbar .title {
    margin-left: 12px;
}

.search-bar .inputbox {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 12px;
    margin-right: 12px;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
}

.navbar .btn11 {
    width: 100px;
    font-size: 20px;
    border: 1px solid rgb(18, 182, 32);
    border-radius: 4px;
    margin-right: 12px;
    background-color: rgb(18, 182, 32);
    padding: 4px;
}

.navbar .logo {
    display: none;
}

.main {
    width: 100vw;
    text-align: center;
}

.textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 12px 8px;
    font-size: 18px;
    border: 2px solid #808080;
}

.textbox .textarea {
    width: 100%;
    height: 200px;
    padding: 8px;
    border: 2px solid #808080;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    margin: 12px 0;
}

.item .btn1 {
    width: 180px;
    padding: 12px;
    font-size: 20px;
    border: 2px solid rgb(18, 182, 32);
    border-radius: 4px;
    margin-right: 12px;
    background-color: rgb(18, 182, 32);
    margin: 20px 0;
}

.note {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 6px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-right: 12px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
}

.card-box {
    width: 400px;
    height: 120px;
    border: 2px solid #808080;
    text-align: center;
}

.disp {
    font-size: 22px;
}



@media screen and (max-width: 900px) {
    .navbar {
        height: auto;
    }

    .search-bar .inputbox {
        width: 190px;
    }

    .navbar .search-bar {
        display: flex;

    }

    .navbar .title {
        margin-left: 12px;
    }

    .textbox .textarea {
        width: 100%;
        height: 100px;
    }

    .item .btn {
        margin: 10px 0;
    }

    .navbar .logo{
        display: block;
        font-size: 30px;
        margin-right: 15px;
    }
}